/*CSS reset settings here*/
/* Jim_W */
*{
  margin: 0px;
  padding: 0px;
  font-family: "Arial", Verdana, sans-serif;

}
body 
{
    color: white;
    font-size: 14px ;
}
#wrapper {
    width: 970px;
}
button {
    margin: 10px;
    padding: 10px;
}
.column {
    width: 46px;
    display: inline-block;
    vertical-align: top;
}
.header {
    overflow: visible;
}
.hspace {
    width: 15px;
}
.cell {
    width: 46px;
    height:46px;
    color: red;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: white;
}
.element {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    color: black;
}
.vspace {
    height: 30px;
}
.foo {
    background-color: yellow;
}